<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${currentdir}/LOGS/INTERNAL.LOG">

	<targets>
		<target name="logFile" xsi:type="File" fileName="${currentdir}/LOGS/${shortdate}.LOG">
			<layout xsi:type="CSVLayout" delimiter="Tab" withHeader="false">
				<column name="TIME" layout="${longdate}" />
				<column name="LEVEL" layout="${level:upperCase=true}" />
				<column name="MESSAGE" layout="${message}" />
				<column name="EXCEPTION" layout="${exception:format=ToString}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile" />
	</rules>
</nlog>